html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.axisLabel {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 16px;
  z-index: 10;
}

.orbitLabel {
  position: absolute;
  top: 40px;
  left: 10px;
  color: white;
  font-size: 16px;
  z-index: 10;
}